flows.json
[{"id":"4c4fb14f.aab86","type":"tab","label":"posx local","disabled":false,"info":""},{"id":"7b5124f2.0ed25c","type":"postgrestor","z":"4c4fb14f.aab86","name":"","query":"SELECT * FROM tfoodtype;","postgresDB":"4fdb85a7.9cf67c","output":true,"outputs":1,"x":220,"y":120,"wires":[["4bf40c41.e15b34","69ea3a20.fd2264"]]},{"id":"288a46d.01b61ba","type":"http in","z":"4c4fb14f.aab86","name":"","url":"/posx/cats","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["7b5124f2.0ed25c"]]},{"id":"69ea3a20.fd2264","type":"http response","z":"4c4fb14f.aab86","name":"","statusCode":"","headers":{},"x":340,"y":180,"wires":[]},{"id":"4bf40c41.e15b34","type":"debug","z":"4c4fb14f.aab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":60,"wires":[]},{"id":"373b582b.13c348","type":"inject","z":"4c4fb14f.aab86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["7b5124f2.0ed25c"]]},{"id":"a52e99b4.1eb8c8","type":"postgrestor","z":"4c4fb14f.aab86","name":"","query":"SELECT * FROM tfood;","postgresDB":"4fdb85a7.9cf67c","output":true,"outputs":1,"x":210,"y":300,"wires":[["ea148012.8fc5","85c6648c.8803e8"]]},{"id":"66ee79ea.90f428","type":"http in","z":"4c4fb14f.aab86","name":"","url":"/posx/foods","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["a52e99b4.1eb8c8"]]},{"id":"85c6648c.8803e8","type":"http response","z":"4c4fb14f.aab86","name":"","statusCode":"","headers":{},"x":330,"y":360,"wires":[]},{"id":"ea148012.8fc5","type":"debug","z":"4c4fb14f.aab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":240,"wires":[]},{"id":"8da8d9c5.666c38","type":"inject","z":"4c4fb14f.aab86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["a52e99b4.1eb8c8"]]},{"id":"b193ddac.addb2","type":"postgrestor","z":"4c4fb14f.aab86","name":"","query":"INSERT INTO torderlog\n(fcode, fname)\nVALUES('{{ msg.payload.fcode }}', '{{ msg.payload.fname }}');","postgresDB":"4fdb85a7.9cf67c","output":true,"outputs":1,"x":210,"y":460,"wires":[["bb7785ac.09c848","bee27bf.0147688"]]},{"id":"657b0ab3.1aa6c4","type":"http in","z":"4c4fb14f.aab86","name":"","url":"/posx/foods/order","method":"post","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["b193ddac.addb2"]]},{"id":"bee27bf.0147688","type":"http response","z":"4c4fb14f.aab86","name":"","statusCode":"","headers":{},"x":330,"y":520,"wires":[]},{"id":"bb7785ac.09c848","type":"debug","z":"4c4fb14f.aab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":400,"wires":[]},{"id":"bdbd921a.8b134","type":"inject","z":"4c4fb14f.aab86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["b193ddac.addb2"]]},{"id":"e6cb6fc0.1c2b","type":"postgrestor","z":"4c4fb14f.aab86","name":"","query":"INSERT INTO tuser\n(username, userpass)\nVALUES('{{ msg.payload.username }}', '{{ msg.payload.userpass }}');","postgresDB":"4fdb85a7.9cf67c","output":true,"outputs":1,"x":210,"y":620,"wires":[["3b40c2a8.16514e","5ae9871c.eb8b38"]]},{"id":"3201b8d3.bccf58","type":"http in","z":"4c4fb14f.aab86","name":"","url":"/posx/register","method":"post","upload":false,"swaggerDoc":"","x":100,"y":680,"wires":[["e6cb6fc0.1c2b"]]},{"id":"5ae9871c.eb8b38","type":"http response","z":"4c4fb14f.aab86","name":"","statusCode":"","headers":{},"x":330,"y":680,"wires":[]},{"id":"3b40c2a8.16514e","type":"debug","z":"4c4fb14f.aab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.username","targetType":"msg","x":390,"y":560,"wires":[]},{"id":"62d70607.9a0fb8","type":"inject","z":"4c4fb14f.aab86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["e6cb6fc0.1c2b"]]},{"id":"47113400.4c7c8c","type":"postgrestor","z":"4c4fb14f.aab86","name":"","query":"SELECT * FROM tuser ;","postgresDB":"4fdb85a7.9cf67c","output":true,"outputs":1,"x":210,"y":780,"wires":[["167bc4b1.1100cb","e61dc9f2.58bc18"]]},{"id":"9796e36.5d5b22","type":"http in","z":"4c4fb14f.aab86","name":"","url":"/posx/login","method":"get","upload":false,"swaggerDoc":"","x":90,"y":840,"wires":[["47113400.4c7c8c"]]},{"id":"167bc4b1.1100cb","type":"http response","z":"4c4fb14f.aab86","name":"","statusCode":"","headers":{},"x":330,"y":840,"wires":[]},{"id":"e61dc9f2.58bc18","type":"debug","z":"4c4fb14f.aab86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.body.username","targetType":"msg","x":390,"y":720,"wires":[]},{"id":"8018cce1.7d5a8","type":"inject","z":"4c4fb14f.aab86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["47113400.4c7c8c"]]},{"id":"4fdb85a7.9cf67c","type":"postgresDB","z":"","name":"str@127.0.0.1:5432/books_api","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"books_api","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":1,"minFieldType":"num","idle":"1000","idleFieldType":"num","user":"api_user","userFieldType":"str","password":"password","passwordFieldType":"str"}]